@charset "UTF-8";
/*------------------------------------
  Components
------------------------------------*/

/*------------------------------------
  Icon-v3
------------------------------------*/
.u-icon-v2, .u-icon-v2 .u-icon__elem-regular,
.u-icon-v2 .u-icon__elem-hover, .u-icon-v3, .u-icon-v3 .u-icon__elem-regular,
.u-icon-v3 .u-icon__elem-hover, .u-icon-v4 .u-icon-v4-inner, .u-icon-v4 .u-icon__elem-regular,
.u-icon-v4 .u-icon__elem-hover, .u-icon-v5 {
  width: 3.92857rem;
  height: 3.92857rem;
  font-size: 1.57143rem;
}

.u-icon-v2.u-icon-size--xs,
.u-icon-v2.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xs .u-icon__elem-hover, .u-icon-v3.u-icon-size--xs,
.u-icon-v3.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xs .u-icon__elem-hover, .u-icon-v4.u-icon-size--xs .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xs .u-icon__elem-hover, .u-icon-v5.u-icon-size--xs {
  width: 2.14286rem;
  height: 2.14286rem;
  font-size: 0.92857rem;
}

.u-icon-v2.u-icon-size--sm,
.u-icon-v2.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v2.u-icon-size--sm .u-icon__elem-hover, .u-icon-v3.u-icon-size--sm,
.u-icon-v3.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v3.u-icon-size--sm .u-icon__elem-hover, .u-icon-v4.u-icon-size--sm .u-icon-v4-inner,
.u-icon-v4.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v4.u-icon-size--sm .u-icon__elem-hover, .u-icon-v5.u-icon-size--sm {
  width: 2.85714rem;
  height: 2.85714rem;
  font-size: 1.28571rem;
}

.u-icon-v2.u-icon-size--lg,
.u-icon-v2.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v2.u-icon-size--lg .u-icon__elem-hover, .u-icon-v3.u-icon-size--lg,
.u-icon-v3.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v3.u-icon-size--lg .u-icon__elem-hover, .u-icon-v4.u-icon-size--lg .u-icon-v4-inner,
.u-icon-v4.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v4.u-icon-size--lg .u-icon__elem-hover, .u-icon-v5.u-icon-size--lg {
  width: 5rem;
  height: 5rem;
  font-size: 2.14286rem;
}

.u-icon-v2.u-icon-size--xl,
.u-icon-v2.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--xl,
.u-icon-v3.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--xl {
  width: 6.42857rem;
  height: 6.42857rem;
  font-size: 2.85714rem;
}

.u-icon-v2.u-icon-size--2xl,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--2xl,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--2xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--2xl {
  width: 7.14286rem;
  height: 7.14286rem;
  font-size: 3.21429rem;
}

.u-icon-v2.u-icon-size--3xl,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--3xl,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--3xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--3xl {
  width: 9.28571rem;
  height: 9.28571rem;
  font-size: 3.57143rem;
}

.u-icon-v3 {
  background-color: #eee;
}

/*------------------------------------
  Icon-v4
------------------------------------*/
.u-icon-v2, .u-icon-v2 .u-icon__elem-regular,
.u-icon-v2 .u-icon__elem-hover, .u-icon-v3, .u-icon-v3 .u-icon__elem-regular,
.u-icon-v3 .u-icon__elem-hover, .u-icon-v4 .u-icon-v4-inner, .u-icon-v4 .u-icon__elem-regular,
.u-icon-v4 .u-icon__elem-hover, .u-icon-v5 {
  width: 3.92857rem;
  height: 3.92857rem;
  font-size: 1.57143rem;
}

.u-icon-v2.u-icon-size--xs,
.u-icon-v2.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xs .u-icon__elem-hover, .u-icon-v3.u-icon-size--xs,
.u-icon-v3.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xs .u-icon__elem-hover, .u-icon-v4.u-icon-size--xs .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xs .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xs .u-icon__elem-hover, .u-icon-v5.u-icon-size--xs {
  width: 2.14286rem;
  height: 2.14286rem;
  font-size: 0.92857rem;
}

.u-icon-v2.u-icon-size--sm,
.u-icon-v2.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v2.u-icon-size--sm .u-icon__elem-hover, .u-icon-v3.u-icon-size--sm,
.u-icon-v3.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v3.u-icon-size--sm .u-icon__elem-hover, .u-icon-v4.u-icon-size--sm .u-icon-v4-inner,
.u-icon-v4.u-icon-size--sm .u-icon__elem-regular,
.u-icon-v4.u-icon-size--sm .u-icon__elem-hover, .u-icon-v5.u-icon-size--sm {
  width: 2.85714rem;
  height: 2.85714rem;
  font-size: 1.28571rem;
}

.u-icon-v2.u-icon-size--lg,
.u-icon-v2.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v2.u-icon-size--lg .u-icon__elem-hover, .u-icon-v3.u-icon-size--lg,
.u-icon-v3.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v3.u-icon-size--lg .u-icon__elem-hover, .u-icon-v4.u-icon-size--lg .u-icon-v4-inner,
.u-icon-v4.u-icon-size--lg .u-icon__elem-regular,
.u-icon-v4.u-icon-size--lg .u-icon__elem-hover, .u-icon-v5.u-icon-size--lg {
  width: 5rem;
  height: 5rem;
  font-size: 2.14286rem;
}

.u-icon-v2.u-icon-size--xl,
.u-icon-v2.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--xl,
.u-icon-v3.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--xl {
  width: 6.42857rem;
  height: 6.42857rem;
  font-size: 2.85714rem;
}

.u-icon-v2.u-icon-size--2xl,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--2xl,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--2xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--2xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--2xl {
  width: 7.14286rem;
  height: 7.14286rem;
  font-size: 3.21429rem;
}

.u-icon-v2.u-icon-size--3xl,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v2.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v3.u-icon-size--3xl,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v3.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v4.u-icon-size--3xl .u-icon-v4-inner,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-regular,
.u-icon-v4.u-icon-size--3xl .u-icon__elem-hover, .u-icon-v5.u-icon-size--3xl {
  width: 9.28571rem;
  height: 9.28571rem;
  font-size: 3.57143rem;
}

.u-icon-v4 {
  padding: 0.57143rem;
  background: transparent !important;
  border: solid 1px #eee;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.u-icon-v4-inner {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #eee;
}

.u-icon-v4 .u-icon-v4-inner {
  z-index: 1;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.u-icon-v4-rounded-3,
.u-icon-v4-rounded-3 .u-icon-v4-inner {
  border-radius: 3px;
}

.u-icon-v4-rounded-7,
.u-icon-v4-rounded-7 .u-icon-v4-inner {
  border-radius: 7px;
}

.u-icon-v4-rounded-10,
.u-icon-v4-rounded-10 .u-icon-v4-inner {
  border-radius: 10px;
}

.u-icon-v4-rounded-50x,
.u-icon-v4-rounded-50x .u-icon-v4-inner {
  border-radius: 50%;
}

.u-icon-v4-bg-primary {
  border-color: #72c02c;
}

.u-icon-v4-bg-primary .u-icon-v4-inner {
  background: #72c02c;
}

.u-icon-v4-bg-white {
  border-color: #fff;
}

.u-icon-v4-bg-white .u-icon-v4-inner {
  background: #fff;
}

.u-icon-v4-bg-gray-light-v3 {
  border-color: #ddd;
}

.u-icon-v4-bg-gray-light-v3 .u-icon-v4-inner {
  background: #ddd;
}

.u-icon-v4-bg-gray-dark-v3 {
  border-color: #555;
}

.u-icon-v4-bg-gray-dark-v3 .u-icon-v4-inner {
  background: #555;
}

.u-icon-v4-bg-black {
  border-color: #000;
}

.u-icon-v4-bg-black .u-icon-v4-inner {
  background: #000;
}

.u-icon-v4-bg-primary--hover:hover,
.u-icon-block--hover:hover .u-icon-v4-bg-primary--hover {
  border-color: #72c02c;
}

.u-icon-v4-bg-primary--hover:hover .u-icon-v4-inner,
.u-icon-block--hover:hover .u-icon-v4-bg-primary--hover .u-icon-v4-inner {
  background: #72c02c;
}

.u-icon-v4-bg-white--hover:hover,
.u-icon-block--hover:hover .u-icon-v4-bg-white--hover {
  border-color: #fff;
}

.u-icon-v4-bg-white--hover:hover .u-icon-v4-inner,
.u-icon-block--hover:hover .u-icon-v4-bg-white--hover .u-icon-v4-inner {
  background: #fff;
}

.u-icon-v4-bg-gray-light-v3--hover:hover,
.u-icon-block--hover:hover .u-icon-v4-bg-gray-light-v3--hover {
  border-color: #ddd;
}

.u-icon-v4-bg-gray-light-v3--hover:hover .u-icon-v4-inner,
.u-icon-block--hover:hover .u-icon-v4-bg-gray-light-v3--hover .u-icon-v4-inner {
  background: #ddd;
}

.u-icon-v4-bg-gray-dark-v3--hover:hover,
.u-icon-block--hover:hover .u-icon-v4-bg-gray-dark-v3--hover {
  border-color: #555;
}

.u-icon-v4-bg-gray-dark-v3--hover:hover .u-icon-v4-inner,
.u-icon-block--hover:hover .u-icon-v4-bg-gray-dark-v3--hover .u-icon-v4-inner {
  background: #555;
}

.u-icon-v4-bg-black--hover:hover,
.u-icon-block--hover:hover .u-icon-v4-bg-black--hover {
  border-color: #000;
}

.u-icon-v4-bg-black--hover:hover .u-icon-v4-inner,
.u-icon-block--hover:hover .u-icon-v4-bg-black--hover .u-icon-v4-inner {
  background: #000;
}



/* Add here all your css styles (customizations) */
